*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR E SECTION 1 */
.section-1{
    background-image: url(Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

